.home-section{
  padding-top: 200px;
}

.home-section__main-skill{
  color: var(--main-color);
  font-size: 26px;
  white-space: nowrap;
}

.home-section__name{
  color: var(--primary-color);
  font-size: 64px;
  line-height: 0.9em;
  margin-bottom: 14rem;
  margin-top: 1rem;
}

.home-section__other-details-list.d-grid{
  display: grid;
  row-gap: 1.2rem;
}

.home-section__other-details-list .detail-item{
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.home-section__other-details-list .detail-item__icon{
  --other-detail-icons-size: 23px;
  
  height: var(--other-detail-icons-size);
  width: var(--other-detail-icons-size);
}

.home-section__other-details-list .detail-item__label{
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
}

@media(width >= 650px){
  .home-section{
    padding-top: 180px;
  }

  .home-section__name{
    margin-bottom: 5rem;
  }

  .home-section__other-details-list.d-grid{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin-bottom: 15rem;
  }
}