.project-section__project-card-list.d-grid{
  display: grid;
  row-gap: 3.5rem;
  border-left: 0.9px solid rgba(255, 255, 255, 0.224);
  padding-left: 1.3rem;
  margin-left: 0.1rem;
  margin-top: 2rem;
}

.project-card{
  --project-card-side-space: 1rem;

  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 10px;

}

.project-card__arrow-icon{
  --project-arrow-size: 26px;

  position: absolute;
  right: 1rem;
  top: 1.2rem;
  height: var(--project-arrow-size);
  width: var(--project-arrow-size);
}

.project-card__img{
  border-radius: inherit;
  height: clamp(220px, 70vw, 280px);
  z-index: -1;
  margin-bottom: 0.6rem;
}

.project-card__info{
  padding-inline: 0.3rem;

}

.project-card__info-title{
  font-size: 1.125rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
}

.project-card__info-detail{
  font-size: 0.875rem;
  opacity: 0.5;
}


@media(width >= 37.5rem /* 600px */){
  .project-section__project-card-list.d-grid{
    grid-template-columns: 1fr 1fr;
    column-gap: 1.3rem;
  }
}