:root{
  --main-color: rgb(255, 184, 0);
  --primary-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}

body{
  position: relative;
  color: var(--primary-color);
  font-family: "Albert Sans", sans-serif;
  background-color: rgb(24, 24, 24);
}


.main-wrapper{
  --wrapper-max-width: 1210px;
  --wrapper-padding: 2.3rem;

  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
  margin-inline: auto;
}

/* .background-profile-pic{
  position: fixed;
} */