:root{
  --main-color: rgb(255, 184, 0);
  --primary-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}