.section-nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  border-radius: 9999px;
  height: 56px;
  width: 100%;
  max-width: 312px;
  padding: 4px;
  z-index: 999;
}

.section-nav__link{
  --navlink-size: 48px;

  display: grid;
  align-items: center;
  justify-content: center;
  height: var(--navlink-size);
  width: var(--navlink-size);
}

.section-nav__link-label{
  display: none;
}

.section-nav__link-icon{
  --navlink-icon-size: 24px;

  width: var(--navlink-icon-size);
  height: var(--navlink-icon-size);
}


@media(width >= 50rem /* 800px */){
  .section-nav{
    max-width: 720px;
    justify-content:center;
  }

  .section-nav__link{
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .section-nav__link-icon{
    --navlink-icon-size: 20px;
  }

  .section-nav__link-label{
    display: inline-block;
    color: var(--primary-color);
    font-size: 0.875rem;
    font-weight: 600;
  }
}
